.Xauthority
.Xmodmap
.android/
.aws/
.cache/
.cookie
.deno/
.docker/
.emulator_console_auth_token
.fehbg
.fly/
.fonts/
.gkrellm2/
.gnome/
.gradle/
.grip/
.gtk-bookmarks
.gtkrc-2.0
.helios/
.icons/
.ipfs/
.java/
.local/
.m2/
.mongodb/
.move/
.nigiri.bak/
.nigiri/
.node-gyp/
.node/
.node_repl_history
.npm/
.nvm/
.pki/
.pm2/
.profile
.pulse-cookie
.python_history
.react-native-cli/
.redisinsight-v2/
.rover/
.serverless/
.serverlessrc
.solc-select/
.ssh/
.streamlit/
.swt/
.terminfo/
.terraform.d/
.themes/
.thunderbird/
.up/
.wget-hsts
.wine/
.xbmpwall.sh
.yarn/
.yarnrc
Android/
Desktop/
Documents/
Downloads/
Pictures/
Postman/
Videos/
bak/
cache/
inbox
oxb.zip
repo/

.config/Bitcoin
.config/BraveSoftware
.config/cef_user_data
.config/configstore
.config/croc
.config/Cypress
.config/dconf
.config/Diffchecker
.config/evolution
.config/fcitx
.config/fd
.config/flameshot
.config/gcloud
.config/geary
.config/gh
.config/github-copilot
.config/goa-1.0
.config/Google
.config/google-chrome
.config/gtk-2.0
.config/gtk-3.0
.config/gtk-4.0
.config/hardhat-nodejs
.config/helix
.config/ibus
.config/libfm
.config/liferea
.config/light
.config/Mailspring
.config/matplotlib
.config/menus
.config/micro
.config/MongoDB Compass
.config/mpv
.config/nextjs-nodejs
.config/ngrok
.config/nitrogen
.config/nodemon.json
.config/obsidian
.config/pgadmin
.config/Postman
.config/procps
.config/pulse
.config/qt5ct
.config/qt6ct
.config/QtProject.conf
.config/RedisInsight
.config/rover
.config/skypeforlinux
.config/Slack
.config/solana
.config/spotify
.config/systemd
.config/Valve Corporation
.config/VeraCrypt
.config/VIA
.config/yay
.config/zoom.conf
.config/zoomus.conf
.config/syncthing
